@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

section {
    padding: 0 32px;
    display: block;
}


img {
    width: 100%;
}

li {
    list-style-type: none;
}

.container {
    padding: 96px 0;
}

.row {  
      
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
}


.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}


.section__para {
    text-align: center;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-bottom: 24px;
}




h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
}

button {
    cursor: pointer;
    border: none;
}


.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}



.btn:hover {
    background-color: rgb(80,17,204);
}


p {
    line-height: 1.5;
}

.text__purple {
    color: #6415ff;
}


.nav__logo {
    display: flex;
    align-items: center;
}


nav {
    display: flex;
    padding-top: 32px;

}


.nav__row {
    display: flex;
    justify-content: space-between;
    
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    margin: 0 24px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    text-decoration: none;
       
}

.nav__link:hover::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
    opacity: 1;   
}



.nav__link:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
    opacity: 0;
}



 .nav__link--primary {
    text-decoration: none;
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
    
}

.nav__link:hover {
    color: #6415ff;
    text-decoration: underline;
}


.nav__link--primary:hover {
    color: #6415ff;
    text-decoration: none;   
}

.nav__link--primary:hover:after {
    content: "";
    width: 0;
    height: 0;     
}


.login {
    margin-left: 48px;
}




.btn__menu { 
    display: none;
    background: transparent;
    border: none;
    font-size: 40px;
    color: #6415ff;
}


.menu__backdrop {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;    
    left: 0;
    bottom: 50%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
    transition: opacity all 300ms ease;
    visibility: hidden;
    opacity: 0;
}


.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 0;
    padding: 8px;
    color: #6415ff;
}


.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
    
}


.menu--open {
    max-height: 100vh;
    overflow: hidden;
}


.menu__links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu__link {
    color: rgb(26, 32, 44);
    font-size: 16px;
    text-decoration: none;       
}


.menu__link:hover {
    color: #6415ff;
    text-decoration: underline;
}



.menu__link--primary {
    text-decoration: none;
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}


.menu__link--primary:hover {
    background-color: rgb(80,17,204);
    color: #fff;
    text-decoration: none;
        
}


.menu__list {
    padding: 32px 0;

}






/*  HEADER  */



header {
    position: relative;
}


header .row {
    display: flex;
    justify-content: space-between;
}

.header__description {
    max-width: 40%;

}


.header__description--para {
    font-size: 16px;
    margin: 32px 0;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 1.5;
}


.header__customers {
    margin-top: 16px 0;
    opacity: 0.5;
    width: 100%;
}

.header__img {
    max-width: 60%;
    max-width: 768px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 1.5;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}


.header__email--input:hover {
    border-color: rgba(160,174,192);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}


.header__email--btn:hover {
    background-color: rgba(60,12,153);
}

.header__customers {
    opacity: 0.5;
    width: 100%;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
}



/*  FEATURES  */


#features {
    position: relative;
}


.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}


.feature {
    width: calc(100% / 3);
}


.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}


.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}



.feature__img {
    width: 24px;
    height: 24px;
}


.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}


.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}


/*  QUALITY  */


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.quality__description {
    display: flex;
    flex-direction: column;
    justify-content: left;        
    width: 50%;
    max-width: 576px;
    margin-right: 64px;
    padding: 16px;
}



.quality__btn {  
    width: 50%;  
    background-color: #6415ff;    
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}



.quality__btn:hover {
    background-color: rgb(80,17,204);
}


.quality__img {
    width: 100%;
}



.quality__img--wrapper {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex
}



.quality {
    z-index: 1;
}


/*  STEPS  */


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.steps__img--wrapper {
    display: flex;
    position: relative;
    width: 50%;
}



.steps__img {
    z-index: 2;
}


.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}


.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}


.step__description {
    display: flex;
    flex-direction:column;
    margin-left: 24px;
    max-width: 320px;
}


.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}


.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}



.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}


/*  VALUES  */


#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.values__description {
    width: 50%;
}


.values__list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.value {
    margin-top: 32px;
    margin-right: 32px;
    margin-bottom: 16px;

}

.values__title {
    display: flex;
    align-items: center;
}


.values__img {
    width: 50%;
}


.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}


.value__para {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 1.625;
    color: #718096;
}


.values__btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}


.values__btn:hover {
    background-color: rgb(80,17,204);
}






/* PRICING  */


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.plans {
    display: flex;
    justify-content: center;
    align-items: center;
}


.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}


.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    
}


.plan__top {
    padding: 32px;
    text-align: center;
}


.plan__name {
    color: #1a202c;
    font-weight: bold;
    line-height: 1.625;
}


.plan__price {
    color: #1a202c;
    font-size: 48px;
    margin: 4px 0;
    font-weight: bold;
    line-height: 1.625;
}

.plam__duration {
    color: #a0aec0;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}


.plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
    padding: 32px;
    text-align: center;
}


.plan__target {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}


.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}


.plan__bottom {
    padding: 32px 64px;
    z-index: 10;
    position: relative;
}


.plan__button {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}


.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
 }



.plan:nth-child(2) .plan__stripe {
    visibility: hidden;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}


.plan:nth-child(2) .plan__name {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__target {
    color: #f7fafc;
}


.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}



.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}


.plan:nth-child(3) .plan__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.plan:nth-child(2) .plan__price {
    color: #f7fafc;
}


.plan:nth-child(2) .plan__duration {
    color: #f7fafc;
}


/*  TESTIMONIALS  */



#testimonials .row {
    display: flex;   
           
}


.testimonial {
    margin-top: 40px;
}




.testimonial__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}





.testimonial__rating  i {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}


.testimonial__title {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 16px;
}


.testimonial__para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}


.testimonial__bottom {
    flex-direction: row;
    
}


.testimonial__profile {
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonials__img {
    max-width: 50%;

}


.testimonial__img {
    max-width: 100px;
    max-height: 100px;   
    border-radius: 50%;
}


.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}


.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}


.testimonial__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}


.testimonial__button {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}


.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}



/*  START  */



.start__container { 
    position: relative;   
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    max-width: 100%;

    
}


.start__row {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
   
}


.start__title {
    color: #f7fafc;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 50%;
    padding-right: 24px;
    text-align: center;
}


.start__buttons {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 16px;
    
}


.start__button {
    padding: 20px 40px;
    max-width: 100%;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
}


.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 300ms;
}


.start__button:hover:nth-child(1) {
    background-color: rgba(229,62,62);
}


.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms;
}



.start__button:hover:nth-child(2) {
    background-color: rgba(247,250,252);
    color: rgba(100,21,255);        
}




/*  FOOTER  */




footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}


.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}


.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}


.footer__divider {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}


.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__logo {
    display: flex;
    align-items: center;
}


.footer__logo--img {
    height: 32px;
    width: 32px;
}


.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}


.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}


.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}


.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms;
}  



/*  Under 1280 pixels  */


@media (max-width: 1280px) {
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }






/*   Under 1024 pixel  */




} 

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }
    
    
    .btn__menu {
        display: block;
    }


    header .row {
        flex-direction: column;
        align-items: center;
    }

    .header__description {
            width: 100%;
            max-width: 512px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin-top: 48px;
        margin: 0 auto;
    }

    h1 {
        font-size: 30px;
    }

    .header__description--para {
        margin: 20px 0;
    }


    .header__customers--title {
        margin-top: 48px;
    }

    .header__customers {
        padding-right: 0px;
    }

    #features .section__title, #pricing .section__title {
        font-size: 48px;
    }


    .section__para {
        font-size: 16px;
    }

    .feature {
        width: calc(50%);
    }

    .features {
        max-width: 768px;
    }


    .quality__description {
        margin-right: 0px;
        padding-right: 48px;
    }

    .values__list {
        display: flex;
        flex-direction: column;
        align-items: center;        
        max-width: 320px;
        
    }

    .plans {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plan {
        margin-right: 0px;
    }

    .testimonials__description {
        padding-left: 48px;
    }

    .start__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: none;
    }


    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }


    .start__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 16px 0;
    }
        
    

    footer {
        padding: 80px 32px;
    }

}


@media (max-width: 768px) {
    .section__tag {
        padding-top: 32px;

    }



    .section__para {
            font-size: 14px;
        }


    .section__para {
        font-size: 14px;
        }


    .features {
        justify-content: center;
        
    }


    .feature {
        width: auto;
        max-width: 384px;
    }


    #quality .row, #values .row {
        flex-direction: column-reverse;
    }
    
    
    .quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .values__description, .values__img, .testimonials__description, .testimonials__img {
        width: 100%
        max-width: 448px;
    }


    .values__list {
        margin: 0 auto;
    }

    .values__img {
        max-width: 578px;
    }


    #pricing .row {
        margin-top: 40px;
    }


    #steps .row, #testimonials .row {
        display: flex;
        flex-direction: column;        
        align-items: center;
    }


    .testimonial__bottom {
        flex-direction: row;
        padding: 0 8px;
    }

    .testimonial__button {
        padding: 0 8px;
    }

    .testimonial__para {
        padding-bottom: 32px;
    }

    .testimonials__img {
        max-width: 578px;
        
    }


    .start__title {
        padding: none;
    }

    .footer__columns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    

    .footer__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer__copyright {
        padding: 16px 0;
    }



    .footer__socials {
        margin-left: 0px;
    }
    
    .footer__social--link:first-child {
        margin-left: 0px;
    }
}


    .footer__social--links {
    display: flex;

}


/*   Under 640px   */




@media (max-width: 640px) {
        .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }

    


    .start__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


       .btn {
        text-align: center;
    }


    
    .start__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }


    .start__button {
        width: 100%;
        max-width: 184px;
        margin-top: 0;        
    }



    .header__email {
        flex-direction: column;
        height: auto;
    }

    .header__email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }


    .header__email--btn {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }


    .header__customers--title {
        font-size: 14px;
        letter-spacing: 0.05em;
    }


    main {
        margin-bottom: 80px;
    }


    .section__title {
        text-align: center;
        font-size: 36px;
        line-height: 1.25;
    }

    .section__para{
        text-align: center;
    }


    .quality__description {
        text-align: center;
        padding: 8px;
    }


    .btn {
        line-height: 1.5;
        padding-top: 16px;
        
    }


    .testimonial__para {
        margin-bottom: 32px;
    }



    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }



    .testimonial__profile {
        flex-direction: column;
        align-items: center;
    }



    .testimonial__img {
        height: 64px;
        width: 64px;
    }


    .testimonial__details {
        margin-left: 0;
        margin-top: 8px;
    }


    .testimonial__buttons {
        margin-top: 32px;
    }


   


    .start__title {
        text-align: center;
        width: 100%;
        font-size: 24px;
    }


  
    .footer__columns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }


    .footer__copyright {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }




}
      
